{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container py-5">
    <h2 class="text-center">Kamer Wijzigen</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Wijzigen</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
