{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'HotelApp/css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'HotelApp/css/navbar.css' %}">
    <title>Document</title>
</head>
<body>
  <header></header>  
  <main></main>
  <footer>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <h2>De Zonne Vallei</h2>
                <p class="footer-text">Waar luxe, gastvrijheid en comfort samenkomen voor een onvergetelijke ervaring.</p>
            </div>

            
            <div class="col-md-6">
                <nav>
                    <ul class="footer-links">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Over ons</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        

        <div class="copyright text-center mt-4">
            <p>© 2024 De Zonne Vallei. Alle rechten voorbehouden.</p>
        </div>
    </div>
</footer>
</body>
</html>



