{% extends 'base.html' %}

{% load static %}
<!-- bovenstaande moet altijd -->
<!-- onderstaande is de content van de pagina -->
{% block content %}
<body>
    
    <!-- Sectie 1: Welkom bij Hotel De Zonne Vallei -->
    <section id="welkom">
        <h2>Welkom bij Hotel De Zonne Vallei</h2>
        <p>Bij Hotel De Zonne Vallei streven we ernaar om elke gast een onvergetelijke ervaring te bieden, doordrenkt met luxe, comfort en uitzonderlijke gastvrijheid. Gelegen in het hart van Alkmaar, biedt ons hotel de perfecte uitvalsbasis om deze historische en charmante stad te ontdekken.</p>
        <!-- <div class="image-container">
          <img src="{% static 'HotelApp/img/hotel-lobby.jpg' %}" alt="Hotel De Zonne Vallei" class="responsive-image">
      </div> -->
    </section>

    <!-- Sectie 2: Ons Verhaal -->
    <section id="ons-verhaal">
        <div class="container">
            <h1>ons verhaal</h1>
            <p>Hotel De Zonne Vallei is opgericht door Bouke van Zon, een visionaire ondernemer met een passie voor gastvrijheid en een scherp oog voor detail. Met jarenlange ervaring in de horeca-industrie heeft Bouke zijn droom verwezenlijkt om een uniek hotel te creëren waar gasten zich thuis voelen en kunnen genieten van alle gemakken en luxe die het leven te bieden heeft.</p>
        </div>
    </section>


    <section id="onze-waarden">
        <div class="container">
            <h1>Onze waarden</h1>
            <p>Bij Hotel De Zonne Vallei staan kwaliteit, gastvrijheid en persoonlijke service centraal. Wij geloven dat elk detail bijdraagt aan een perfecte ervaring, van de smaakvolle inrichting van onze kamers tot de culinaire hoogstandjes in ons restaurant. Ons toegewijde team staat altijd klaar om aan al uw wensen te voldoen en ervoor te zorgen dat uw verblijf zo aangenaam mogelijk</p>
        </div>
    </section>
      
      <h2 style="text-align:center">Ons Team</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{% static 'HotelApp/img/janedoe.img.jpg' %}" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Jane Doe</h2>
              <p class="title">CEO & Founder</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>jane@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{% static 'HotelApp/img/bouke.jpg' %}" alt="bouke" style="width: 100%">
            <div class="container">
              <h2>Bouke van Zon</h2>
              <p class="title">Algemeen directeur</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>mike@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="height:100%">
            <div class="container">
              <h2>John Doe</h2>
              <p class="title">Designer</p>
              <p>Some text that describes me lorem ipsum ipsum lorem.</p>
              <p>john@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div> 
</body>
{% endblock %}
